.slick-prev:before, .slick-next:before{
  color:black !important;
}
.images {
  padding-top: 5vw;
  width: 90vw;
  height: 40vw;
  margin: auto;
}
.slick-slide {
  border: 3px groove black;
  height: inherit !important;
}
.slick-dots {
  bottom: -30px !important;
}
.slick-track
{
  display: flex !important;
}

@media screen and (max-width: 720px) {
  .images {
    padding-top: 10vw;
    width: 80vw;
    height: 130vw;
  }
  .slick-dots {
    bottom: -50px !important;
  }
}